.select .main{
border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}

.item {
    cursor: pointer;
}

.item.selected {
    background-color: #1ea7fd;
}

